body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
}

.head-top {
    border: 1px solid;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.avatar {
    height: 50px;
    padding: 10px;
}

.show-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.head-bottom {
    border: 1px solid;
    padding-bottom: 30px;
    height: 300px;
    display: grid;
    place-items: center;
}

.head-bottom h1 {
    font-size: 60px;
}

.head-bottom a {
    font-size: 20px;
}

.content {
    display: flex;
    width: 100%;
}

.content ,a ,p {
    font-size: 25px;
}

.content section {
    border: 1px solid;
    padding: 20px;
}

.content .con-side {
    width: 35%;
}
