body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li, p {
    font-size: 20px;
}

header {
    border: 1px solid;
}

.avatar {
    width: 50px;
    padding: 20px;
}

.titleName {
    text-align: center;
}

.show-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}


section {
    border: 1px solid;
    padding: 0px 0px 10px 10px;
}

footer {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-detail {
    padding-left: 10px;
}

@media screen and (min-width: 1024px) {
    .head-top {
        border: 1px solid;
        display: flex;
        padding-left: 10px
    }
    .show-user {
        width: 100%;
        justify-content: end;
        padding-right: 20px;
    }
    .head-bottom {
        height: 300px;
    }
    .content {
        display: flex;
    }
    section {
        width: 100%;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}